.jumbotron{
   background-color:  #f4511e;
    color: #ffffff;
    padding: 100px 25px;
}
.container-fluid{

    padding: 60px 50px;
}
.conflu{
    background-color:#f6f6f6!important;
}
.logo{
   font-size:  200px;
    color:  #f4511e;
}
@media screen and (max-width: 768px){
    .col-sm-4{
        text-align: center;
        margin: 25px 0;
    }

}
.logo-small{
    font-size: 50px;
    color:  #f4511e;
}
.serv{
   padding-bottom: 20px;
}
.thumbnail{
    padding: 0 0 15px 0;
    border:none;
    border-radius: 0;


}
.thumbnail img{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;

}
.imgw{
    width: 400px!important;
    height: 300px!important;
}

.carousel-control.left, .carousel-control.right{
    color:  #f4511e;

}
.carousel-indicators li{
   border-color:  #f4511e;
}
.carousel-indicators li.active{
  background-color:  #f4511e;
}
.panel{
    border: 1px solid #f4511e;
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}





.panel-heading{
    background-color:  #f4511e!important;
padding: 25px;
    color: #ffffff!important;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer{
    background-color: #ffffff;
}
.panel-footer button{
    background-color:  #f4511e!important;
    color: #ffffff!important;
    margin: 15px 0;
}
.panel-footer .btn:hover{
    background-color:#fff !important;
    color: #f4511e!important;
    border: 1px solid #f4511e;
}
.panel-footer h4{
    color: #aaa;
    font-size: 12px;
}
.navbar{
    background-color:#f4511e ;
    margin-bottom: 0;
    border:0;
    border-radius: 0;
    line-height: 1.42857143 !important;
    z-index: 9999;
}

.navbar li a, .navbar  {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a{
    background-color:#fff !important;
    color: #f4511e!important;

}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.footer .glyphicon{

    color: #f4511e!important;
    font-size: 20px;
    margin-bottom: 20px;

}