body,
html {
    width: 100%;
    height: 100%;
}
body{ padding-top: 50px;}

body,
h1,
h2,
h3,
h4,
h5,
h6 {

    font-weight: 700;


}
.lead {
    font-size: 18px;
    font-weight: 400;
}
.navbar-nav li a{
    font-size: 15px;
    color: #fff !important;
}


.navbar-nav li a:hover{
    font-size: 15px;
    color: #fed136 !important;
}
.navbar-brand{   color: #fed136 !important;

}
.topnav{

    font-size: 14px;
    background-color: #666;

}
.intro-header {
    padding-top: 50px;
    background: url(img/intro-bg.jpg) no-repeat center center;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-size: cover;

}
.intro-message{
	position: relative;
	padding-bottom:20%;
	padding-top:20%;

}

.intro-message> h1{
	 margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;

}
.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media (max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }



    .intro-divider {
        width: 100%;
    }
}
.content-section-a{
    padding: 50px 0;
    background-color:#f8f8f8;
}
.section-heading-spacer {
  width: 200px;
    float: left;
border-top: 3px solid #e7e7e7 ;
}

.content-section-b{
    padding: 50px 0;
}
.content-section-c{
    padding: 50px 0;
    background-color:#f8f8f8;
}
.content-section-d{
    padding: 100px 0;
    background:url("img/banner-bg.jpg ") no-repeat center center;
    background-size: cover;
    color: #f8f8f8;
}
.content-section-d h2{
    margin-left:20px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}
.banner-social-buttons {

    margin-left:20px;
}



@media(max-width: 1199px) {
ul.banner-social-buttons{
    float: left;
}
    
}
@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

.footer-bottom {
    margin-top: 60px;
    padding-top: 15px;
    padding-bottom: 25px;
    background: #3d3d3d;
    text-align: center;
}

.footer-bottom a {
    font-size: 32px;
    color: #666;
    line-height: 40px;
}
.footer-bottom a:hover, .footer-bottom a:focus { color: #888; }
.text-primary {
    color: #fed136;
}
.content-section-c{
    padding: 150px 0 ;
}
.content-section-c h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 40px;
}